.product {
  border-radius: 5px;
  padding: 10px; /* Reduced padding */
  text-align: center;
  /* margin: 10px; */
  /* background-color: #000000; */
  background: linear-gradient(90deg, #10163e, #000000);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 200px; /* Fixed width */
  height: auto; /* Adjust height automatically */
  position: relative;
}

.product:hover {
  transform: scale(1.05) translateY(-10px); /* Lift and enlarge the card */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* Enhanced shadow for lifted effect */
}

.product-image {
  max-width: 100%;
  height: 150px; /* Fixed height for image */
  object-fit: cover; /* Cover image while preserving aspect ratio */
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.product-details {
  padding: 10px 0; /* Adjusted padding */
}

.product-name {
  color:white;
  font-size: 1em; /* Smaller font size */
  margin: 5px 0; /* Reduced margin */
}

.product-price {
  color: #7c4dff;
  font-size: 1em; /* Adjusted font size */
  margin: 5px 0; /* Reduced margin */
}

.product-description {
  font-size: 0.8em; /* Smaller font size */
  color: #666;
  margin-bottom: 10px; /* Reduced margin */
}

.product-button {
  background-color: #7c4dff;
  color: #fff;
  border: none;
  padding: 8px; /* Reduced padding */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9em; /* Adjusted font size */
}

.product-button:hover {
  background-color: #5a3c9e;
}

@media (max-width: 600px) {
  .product {
    width: 150px;
  }
}
